@charset "UTF-8";

body {
  background-image: url(../images/img_background.jpg);
  color: rgb(191, 201, 158);
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}

div#wrap {
  width: 960px;
  /* border: 1px solid red; */
  margin: 0 auto;
  background-color: rgb(0, 0, 0, 0.5);
}

header {
  margin: 15px 15px 15px 21px;
  display: flex;
  /* background-color: blueviolet; */
  position: relative;
}

img#logo {
  width: 200px;
}

nav#gnav {
  width: 320px;
  /* background-color: gray; */
  position: absolute;
  right: 0;
  bottom: 0;
  /* padding-left: 350px; */
}

nav#gnav ul {
  color: rgb(191, 201, 158);
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  /* background-color: beige; */
  /* padding-top: 100px; */
}

nav#gnav ul li a {
  text-decoration: none;
  color: rgb(191, 201, 158);
}

nav#footer-nav ul li a {
  text-decoration: none;
  color: rgb(191, 201, 158);
}

img#mainvisual {
  margin: 0 24px;
}

main#home {
  width: 912px;
  margin: 0 24px;
}

p.txt {
  line-height: 35px;
  width: 740px;
  margin: 40px 80px;
  font-size: 17px;
  font-weight: bold;
}

nav#three {
  display: flex;
  justify-content: space-between;
  width: 840px;
  margin: 0 41px;
}



section.txt {
  width: 235px;
  background-color: rgb(53, 60, 44);
  padding-left: 4px;
  padding-bottom: 12px;
}

h2 {
  padding: 30px 10px;
  font-size: 17px;
}

footer {
  height: 290px;
}

nav#footer-nav {
  width: 320px;
  margin: 0 auto;
  padding-top: 145px;
}

nav#footer-nav ul {
  display: flex;
  justify-content: space-between;
}

p.copy {
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  width: 270px;
  font-size: 12px;
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* introduction */

img#introductionmainvisual {
  margin: 0 24px;
}

main#introductionhome {
  width: 920px;
  margin: 47px 24px 0 24px;
  display: flex;
  /* border: 1px red solid; */
}

section.introductionsection {
  width: 355px;
  margin-left: 63px;
  margin-right: 50px;
  /* border: 1px red solid; */
}

h1.introductionh1 {
  font-size: 25px;
  margin-top: 17px;
  margin-bottom: 47px;
}

p.introductiontxt {
  font-weight: bold;
  line-height: 35px;
  font-size: 15 px;
}

#sectionthree {
  margin-top: 20px;
}



nav#introductiontwo {
  width: 400px;
  margin-left: 10px;
  /* border: 1px red solid; */
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

/* story */

img#storymainvisual {
  margin: 0 24px;
}

main#storyhome {
  width: 920px;
  margin: 47px 24px 0 24px;
  display: flex;
  /* border: 1px red solid; */
}



section.storysection {
  width: 355px;
  margin-left: 63px;
  margin-right: 50px;
  /* border: 1px red solid; */
}

h1.storyh1 {
  font-size: 25px;
  margin-top: 17px;
  margin-bottom: 47px;
}

p.storytxt {
  font-weight: bold;
  line-height: 35px;
  font-size: 16 px;
}

nav#storytwo {
  /* border: 1px red solid; */
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* cast */

h1.casth1 {
  font-size: 25px;
  margin-top: 17px;
}

h3.casth3 {
  font-size: 20px;
  margin-bottom: 24px;
}

img#castmainvisual {
  margin: 0 24px;
}

main#casthome {
  width: 920px;
  margin: 47px 24px 0 24px;
  display: flex;
  /* border: 1px red solid; */
}

section.castsection {
  width: 355px;
  margin-left: 63px;
  margin-right: 50px;
  /* border: 1px red solid; */
  display: flex;
  flex-wrap: wrap;
}

div#castlist1,
div#castlist2,
div#castlist3,
div#castlist4 {
  width: 355px;
  /* border: 1px red solid; */
  line-height: 35px;
  font-weight: bold;

  border-bottom: 1px rgb(191, 201, 158) dotted;
  padding-top: 25px;
  padding-bottom: 25px;
}

div#castlist5 {
  width: 355px;
  /* border: 1px red solid; */
  line-height: 35px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
}


nav#casttwo {
  /* border: 1px red solid; */
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
}